<nav class="navbar navbar-expand-lg azul-oscuro align-top">
    <a class="navbar-brand azul-oscuro" href="/">
        <img src="assets/img/mainbar/visual-title.png" alt="logo" width="169" height="29">
    </a>
</nav>


