p {
    font-size: large;
    font-weight: 500;
}

.btn-primary{
    background-color: #FFBD3B;
    border: 1px solid black;
    color: black;
    font-weight: bolder;
}

.textButton {
    background-color: #FFBD3B; /* Green */
    border: 1px solid black;
    font-weight: 700;
  }
  