

<ul class="nav flex-column nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="#">
            <img src="assets/img/navbar/menu.png" width="50" height="50" alt="">
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img  width="50" height="50" src="assets/img/navbar/tools.png" alt="">
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="assets/img/navbar/materials.png"  width="50" height="50" alt=""> 
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="assets/img/navbar/equipments.png" width="50" height="50"  alt="">
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="assets/img/navbar/cars.png" width="50" height="50" alt=""> 
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="assets/img/navbar/teams.png" width="50" height="50" alt="">
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <img src="assets/img/navbar/more.png" width="50" height="50" alt=""> 
        </a>
    </li>
</ul>
