<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
      <img src="assets/img/mainbar/visual-title.png" height="35" alt="" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="mr-auto"></div>
    <div *ngIf="_serviceUser.usuario != undefined">
    <button (click)="goTo('buys')"
            id="buy"
            class="btn my-2 my-sm-0"
            type="button"
            aria-haspopup="true"
            aria-expanded="false">
      <img src="../../../../assets/img/btn/compra.jpg" height="50" width="50"/>
    </button>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <div class="btn-group">
        <button  class="btn my-2 my-sm-0"
                 type="button" href="car"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false">
          <img src="assets/img/mainbar/cart.png" width="50" height="50"/>

        </button>
        <div class="container">
        <div class="dropdown-menu" id="car">
          <table id="car-list">
            <tr>
              <th scope="col-md-6">
                <b>Imagen</b>
              </th>
              <th scope="col-md-3">
                <b>Nombre</b>
              </th>
              <th scope="col-md-3">
                <b>Cantidad</b>
              </th>
              <th scope="col-md-3">
                <b>Precio/U</b>
              </th>
              <th scope="col-md-3">
                <b>Accion</b>
              </th>
            </tr>
            <div class="dropdown-divider"></div>
            <tr *ngFor="let product of products">
              <td><img src="{{product.srcImage}}" height="100" alt="" loading="lazy"></td>
<!--              <td>{{product.srcImage}}</td>-->
              <td>
                <h5>
                  {{product.name}}
                </h5>
              </td>
              <td>
                <h5>
                  {{product.quantity}}
                </h5>
              </td>
              <td>
                <h5>
                  {{product.price}}
                </h5>
              </td>
              <td>
                <button type="button" class="btn " (click)="eliminarOne(product)">
                  <img src="../../../../assets/img/btn/deleteicon.png" height="50" width="60"/>
                </button>
              </td>
            </tr>
          </table>
          <div class="dropdown-divider"></div>
          <button type="button" class="btn btn-warning btn-outline-dark align-content-center" (click)="goTo('bill')">
                          <b>Adquirir Productos</b>

          </button>
          <button type="button" class="btn btn-light btn-outline-dark align-content-center" (click)="emptyCarAll()">
              <b>Vaciar Carrito</b>
          </button>
        </div>
      </div>
      </div>
      <!-- <input id="searchBox" class="form-control mr-sm-" type="search" placeholder="Search" aria-label="Search">
      <button class="btn my-2 my-sm-0" type="button"><img src="assets/img/mainbar/search.png" width="50" height="50"/></button>
      <button class="btn my-2 my-sm-0 textButton" type="button"><img src="assets/img/mainbar/map.png" width="35" height="35"/> Set your location </button>
      <button class="btn my-2 my-sm-0" type="button"><img src="assets/img/mainbar/user.png" width="50" height="50"/></button> -->
<!--      META <button  (click)="goChildren('car')" class="btn my-2 my-sm-0" type="button" href="car"><img src="assets/img/mainbar/cart.png" width="50" height="50"/></button>-->
<!-- FRANCIS MASTER -->

      <input id="searchBox" class="form-control mr-sm-" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchModel" name="searchProduct">
      <button (click)="buscarProducto()" class="btn my-2 my-sm-0" type="button"><img src="assets/img/mainbar/search.png" width="50" height="50"/></button>

      <div *ngIf="_serviceUser.usuario === undefined ; else templateName">
        <button class="btn my-2 my-sm-0 textButton"
                type="button"
                (click)="goTo('login')"
        >
          <img src="assets/img/mainbar/user.png" width="40" height="40"/>
          Login
  <!--        {{_serviceUser.usuario.userName}}-->
        </button>
      </div>
      <ng-template #templateName>
        <button class="btn my-2 my-sm-0 textButton"
                type="button"
        >
          <img src="{{_serviceUser.usuario.srcImage}}" width="40" height="40"/>
            {{_serviceUser.usuario.userName}}
        </button>
      </ng-template>
    </form>
  </div>
</nav>
<!--<dw-propagador-->
<!--  (userlogin)="getUser($event)"-->
<!--&gt;</dw-propagador>-->

