.textButton {
    background-color: #FFBD3B; /* Green */
    border: 1px solid black;
    font-weight: 700;
  }

  #searchBox {
    border: 1px solid lightslategrey;
  }
.dropdown-menu {
  width: 400px !important;
  background-color: #f9f9f9;
}
table td {
  text-align: center;
}
