<h2 id="slogan">Todos los Productos favoritos para la construcion entregados al por mayor</h2>
<div class="d-flex justify-content-center m-3">
    <form class="form-inline my-2 my-lg-0">
        <input id="searchBox" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button onclick="buscarDesdeSearch()" class="btn my-2 my-sm-0 textButton" type="button"> Buscar </button>
    </form>
</div>
<br>